body {
    padding: 20px;
}
button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: cadetblue;
    border: none;
}
button:hover {
    background: blueviolet;
}
