@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

html
{
  background: linear-gradient(to bottom right, #8a2eb8, #EE7752);
}

html,
body
{
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  overflow: hidden;
}

.rounded_box
{
  background:#d4d4d4;
  width: 30%;
  height: 65%;
  position: absolute;
  right: 34.3%;
  top: 17%;
  border-radius:10px;
}

.wrapper
{
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 28%;
  left: 27%;
}

h2
{
  color: black;
  font-family: 'Playfair Display', serif;
  line-height: 1.211;
  text-align:center;
  font-size:38px;
  position:relative;
  top: 13%;
}

p
{
  font-family: 'Playfair Display', serif;
  letter-spacing: .1px;
  font-weight: 400;
  font-size:16px;
  line-height:1.5;
  margin-top:10px;
  position: absolute;
  top: 132%;
  left: -3%;
}

*, *::before, *::after
{
  box-sizing: border-box;
}

input[type='text']
{
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;
}

input[type='password']
{
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;
}

input[type='text']:focus::placeholder
{
  color: transparent;
}

input[type='password']:focus::placeholder
{
  color: transparent;
}

input[type='text']::placeholder
{
  color:#222;
  transition: color 0.3s ease;
}

input[type='password']::placeholder
{
  color:#222;
  transition: color 0.3s ease;
}

#err_username
{
  position:absolute;
  top: 36%;
  left: 5%;
  color: red;
}

#err_password
{
  position:absolute;
  top: 81%;
  left: 5%;
  color: red;
}


#submitBtn {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 1.5px #8a2eb8;
  transition: .4s;
  position: absolute;
  top: 103.5%;
  right: 31.5%;
}

#submitBtn:hover {
  font-family: "Lato", Arial, sans-serif;
  background: #8a2eb8;
  color: white;
}

.alert-danger
{
  color: red;
}


.form-group
{
  padding: 10px;
}


