* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //font-size: 20px;
  font-family: "Lato", Arial, sans-serif;
  height: 100%;
}

html,
body {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  font-family: "Lato", Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  width: 100%;
  position: relative;
  animation: change 20s ease-in-out infinite;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // Disable pull-to-refresh on chrome mobile
  overscroll-behavior-y: contain; // sass-lint:disable-line no-misspelled-properties
}

body,
a {
  font-family: "Lato", Arial, sans-serif;
  color: black;
}

#initialText
{
  color: white;
  position:relative;
  top: 109%;
  left: 13%;
}

#basedOn
{
  color: white;
  position: relative;
  left: 5%;
}

#basedOnText
{
  color: white;
  position: relative;
  left: 5%;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  border: 5px solid #8a2eb8;
  position: absolute;
  top: -1.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;
}

h3{
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
  position: absolute;
  bottom: 1.5%;
  right: 39%;
  font-family: Roboto Thin, sans-serif;
}

h4{
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
  position: absolute;
  bottom: 2.5%;
  left: 33.5%;
  font-family: Roboto Thin, sans-serif;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0 50%;
  }

}

#clearnotes {
  margin-right: 10px;
  padding: 7px;
  position: relative;
  left: 5%;
}

canvas {
  margin: -4px 0;
  cursor: pointer;
}

.canvaswrap {
  position: relative; //this is originally relative
  top: 0%; //these don't exist normally
  left: 0%; //these don't exist normally
  visibility: hidden;
}

canvas,
.canvaswrap {
  height: 700px;
  width: auto;
}

#overlayButton
{
  position: absolute;
  display: inline-block;
  background-color: dimgray;
  background-size: contain;
  font-size: 13px;
  color: white;
  border: 3px solid #000;
  width: 80px;
  height: 40px;
  top: 8.5%;
  left: 75%;
}

.overlay {
    position: relative;
    top: 10%;
    left: 1%;
    width: 50%;
    text-align: left;
    //background-color: red;
    word-spacing: 5px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    height: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out;
}

#muteButton {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background-image: url("volume-up.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
  opacity: 0.6;
  cursor: pointer;
}

#muteButton.muted {
  background-image: url("volume-mute.svg");
}

#volume
{
  position: relative;
  left: -75%
}

#record {
  //background-color: dimgray; /* Green */
  border-width: medium;
  border-color: black;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  left: 10%;
  position: relative;
}
#stopRecord {
  //background-color: green; /* Green */
  border-width: medium;
  border-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
  left: 12%;
}
h2 {
  left: 100px;
  position: relative;
}
#recordedAudio {
  position: relative;
  visibility: hidden;
  left: 28%;
  top: -12px;
}

body {
  background: url('../images/bg.jpg') repeat top left;
}
section {
  width: 150px;
  height: auto;
  margin: 100px auto 0;
  position: fixed;
}

#volumcontroller {
  height: 35px;
  width: 90px;
  position: relative;
  top: 3px;
  left: -104%;
}
#volumcontroller div{
  height:40px;

}
.volumecontrollerbar{
  border-left:1px solid #222;
  float:right;
  width:3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  background-color: #4c4c4c;
  cursor:pointer;

}.volumecontrollerbar:hover{
   background-color:#bcbcbc !important;
 }

button,
.button {
  background: #333;
  border: solid #808080 1px;
  border-radius: 4px;
  color: #ddd;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;

  :hover {
    background: #555;
    cursor: pointer;
  }
}

.icon {
  filter: invert(1);
  height: 1em;
  vertical-align: middle;
}

.share-wrap {
  font-size: .8em;
}

.share-wrap > * {
  vertical-align: middle;
}

// play button

body:not(.playing) {
  canvas {
    filter: blur(5px);
    opacity: .3;
    overflow: hidden;
    pointer-events: none;
  }

  .canvaswrap {
    border: solid #444 1px;
  }

  .play-btn {
    background: radial-gradient(rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    box-shadow: 0 0 25px 3px rgba(255, 0, 128, 0.8);
    display: block;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;

    // triangle
    &::after {
      border-bottom: 9px solid transparent;
      border-left: 13px solid #fff;
      border-top: 9px solid transparent;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-40%) translateY(-50%);
      transform-origin: center center;
      transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      width: 0;
      z-index: 100;
    }

    // pulse wave
    &::before {
      animation: pulsate1 2s;
      animation-delay: 0s;
      animation-direction: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: steps;
      background: rgba(198, 16, 0, 0);
      border: 5px solid rgba(255, 255, 255, .75);
      border-radius: 50%;
      content: '';
      height: 150%;
      left: -35%;
      opacity: 1;
      position: absolute;
      top: -35%; // it's magic! :O
      width: 150%;
    }
  }
}

@keyframes pulsate1 {
  0% {
    box-shadow: inset 0 0 25px 3px rgba(255, 255, 255, 0.75), 0 0 25px 10px rgba(255, 255, 255, 0.75);
    opacity: 1;
    transform: scale(.6);
  }

  100% {
    box-shadow: none;
    opacity: 0;
    transform: scale(1);

  }
}

.dropdown {
  width: 230px;
  height: 50px;
  margin: 40px auto;
  perspective: 1000px;
  position: absolute;
  top: 5.7%;
  right: -36%;
}

.dropped {
  height: 200px;
}

.item {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0;
  padding: 0 20px;
  background-color: white;
  transition: transform 0.15s linear, color 1s;
  cursor: pointer;
  user-select: none;
}
.item:last-child {
  color: gray;
  transform: translate3d(0, -150px, 0);
}
.item:last-child.active {
  color: black;
  font-weight: bold;
}
.item:nth-child(1) {
  transform: translate3d(0, 50px, 0) skewX(1deg);
}
.item:nth-child(2) {
  transform: translate3d(0, 50px, 0) skewX(-1deg);
}
.item:nth-child(3) {
  transform: translate3d(0, 50px, 0) skewX(1deg);
}
.item:hover:not(:last-child) {
  background-color: #f2f2f2;
}

.collapse:nth-of-type(1) {
  transform: translate3d(0, 0px, 0) scale(1.025);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(2) {
  transform: translate3d(0, -56px, 0) scale(1.05);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(3) {
  transform: translate3d(0, -112px, 0) scale(1.075);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(4) {
  transform: translate3d(0, -168px, 0) scale(1.1);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(5) {
  transform: translate3d(0, -224px, 0) scale(1.125);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(6) {
  transform: translate3d(0, -280px, 0) scale(1.15);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(7) {
  transform: translate3d(0, -336px, 0) scale(1.175);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(8) {
  transform: translate3d(0, -392px, 0) scale(1.2);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(9) {
  transform: translate3d(0, -448px, 0) scale(1.225);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(10) {
  transform: translate3d(0, -504px, 0) scale(1.25);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:hover:last-child {
  transform-origin: 50% 100%;
  transform: translate3d(0, -174px, 0) rotateX(30deg) scale(1.1);
}



.register_btn {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  border: solid 1.5px #8a2eb8;
  transition: .4s;
  position: absolute;
  top: -8.5%;
  right: -82.5%;
}

.register_btn:hover {
  font-family: "Lato", Arial, sans-serif;
  background: #8a2eb8;
  color: white;
}

.login_btn {
  font-size: 1.25rem;
  width:148.25px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  border: solid 1.5px #8a2eb8;
  transition: .4s;
  position: absolute;
  top: -8.5%;
  right: -60%;
}

.login_btn:hover {
  font-family: "Lato", Arial, sans-serif;
  background: #8a2eb8;
  color: white;
}

*, *:after, *:before {
  box-sizing: border-box;
}

input[type="checkbox"] {
  visibility: hidden;
  &:checked + label {
    // transform: rotate(360deg);

    background-color: #000;
    &:before { //this is the ball from right to left
      transform: translateX(45px);
      background-color: #FFF;
      transition: background-color .75s ease-in-out,
      transform .75s ease-in-out;
    }
  }
}

label {
  display: flex;
  width: 90px;
  height: 45px;
  border: 6px solid;
  border-radius: 99em;
  position: absolute;
  left: 95%;
  bottom: 1%;
  transition: background-color .75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;

  &:before { //this is the white-to-black
    transition: background .75s ease-in-out,
                transform .75s ease-in-out;
    transition-delay: .5s;
    content: "";
    display: block;
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: #000;
    border-radius: 50%;
    top: 3px;
    left: 6px;
  }
}



.dropdown2 {
    width: 230px;
    height: 50px;
    margin: 40px auto;
    perspective: 1000px;
    position: absolute;
    top: 39.7%;
    right: -36.5%;
}

.dropped2 {
    height: -200px;
}

.item2 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0;
    padding: 0 20px;
    background-color: white;
    transition: transform 0.15s linear, color 1s;
    cursor: pointer;
    user-select: none;
}

.item2:last-child {
    color: gray;
    transform: translate3d(0, -250px, 0)
}

.item2:last-child.active2 {
    color: black;
    font-weight: bold;
}

.item2:nth-child(1) {
    transform: translate3d(0, 50px, 0) skewX(1deg);
}

.item2:nth-child(2) {
    transform: translate3d(0, 50px, 0) skewX(-1deg);
}

.item2:nth-child(3) {
    transform: translate3d(0, 50px, 0) skewX(1deg);
}

.item2:nth-child(4) {
    transform: translate3d(0, 50px, 0) skewX(-1deg);
}

.item2:nth-child(5) {
    transform: translate3d(0, 50px, 0) skewX(1deg);
}

.item2:hover:not(:last-child) {
    background-color: #f2f2f2;
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0px, 0) scale(1.025);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(2) {
    transform: translate3d(0, -56px, 0) scale(1.05);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(3) {
    transform: translate3d(0, -112px, 0) scale(1.075);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(4) {
    transform: translate3d(0, -168px, 0) scale(1.1);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(5) {
    transform: translate3d(0, -224px, 0) scale(1.125);
}


.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(6) {
    transform: translate3d(0, -280px, 0) scale(1.15);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(7) {
    transform: translate3d(0, -336px, 0) scale(1.175);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(8) {
    transform: translate3d(0, -392px, 0) scale(1.2);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(9) {
    transform: translate3d(0, -448px, 0) scale(1.225);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(10) {
    transform: translate3d(0, -504px, 0) scale(1.25);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(11) {
    transform: translate3d(0, -560px, 0) scale(1.275);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(12) {
    transform: translate3d(0, -616px, 0) scale(1.3);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(13) {
    transform: translate3d(0, -672px, 0) scale(1.325);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:nth-of-type(14) {
    transform: translate3d(0, -728px, 0) scale(1.35);
}

.collapse2:nth-of-type(1) {
    transform: translate3d(0, 0, 0);
}

.collapse2:hover:last-child {
    transform-origin: 50% 100%;
    transform: translate3d(0, -280px, 0) rotateX(30deg) scale(1.15);
}

.bg-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top:0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content{
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 30px;
  position: relative;
  margin:15px auto;
  font-family: Cambria;
  text-shadow: black;
}

#close{
  visibility: hidden;
  position: absolute;
  border: none;
  background: none;
  top:-120px;
  right: 20px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}

#help-button{
  background-color: black;
  width: 45px;
  height: 30px;
  font-size: 1rem;
  color: gray;
  position: absolute;
  left: 92%;
  bottom: 1.75%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  display: inline-block;
}

#pitchIndicator
{
  position: absolute;
  top: 30%;
  left: 20%;
}


